.login__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__page .form input {
    margin-bottom: 12px;
}

.login__page button {
    margin-top: 12px;
}

.login__page img {
    margin-bottom: 24px;
}